.container {
    background: linear-gradient(to bottom, #F4C6C3, #F2DBD7);
    color:#534847;
    font-weight: 700;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.card-container {
    background: #FBEFEF;
}

input {
    outline: none;
}

input:focus {
    border-bottom: 1px solid #534847;
}

input::placeholder {
    color:#ffffff;
}
