.container {
    background: linear-gradient(to bottom, #F4C6C3, #F2DBD7);
    color:#534847;
    font-weight: 700;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.card-container {
    background: #FBEFEF;
}
